<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Web B2B Dibimbing Suite">

    <listeners>
        <listener class-name="core.ExtentTestListener"/>
    </listeners>

    <test name="Automation Test" preserve-order="true">
        <!-- Parameter 'browser' will be passed from BaseTest or system property -->
        <classes>
            <class name="tests.login.LoginTest"/>
            <class name="tests.employee.DivisionTest"/>
            <class name="tests.employee.EmployeeTest"/>
            <class name="tests.training.TrainingTest"/>
            <class name="tests.training.ChapterTest"/>
            <class name="tests.training.ContentTest"/>
            <class name="tests.training.AssignedEmployeeTest"/>
            <class name="tests.CleanupTest"/>
        </classes>
    </test>
</suite>
