name: Web B2B Dibimbing.id Automation CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        browser: [chrome, firefox, edge]

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: 'gradle'

      - name: Install browsers (NO SNAP)
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb

          # 1. Setup Firefox via Mozilla PPA
          sudo add-apt-repository -y ppa:mozillateam/ppa
          echo '
          Package: *
          Pin: release o=LP-PPA-mozillateam
          Pin-Priority: 1001
          ' | sudo tee /etc/apt/preferences.d/mozilla-firefox
          sudo apt-get update
          sudo apt-get install -y firefox

          # 2. Install Chrome
          sudo apt-get install -y google-chrome-stable

          # 3. Install Edge Browser
          curl -fsSL https://packages.microsoft.com/keys/microsoft.asc | sudo gpg --dearmor -o /usr/share/keyrings/microsoft.gpg
          echo "deb [arch=amd64 signed-by=/usr/share/keyrings/microsoft.gpg] https://packages.microsoft.com/repos/edge stable main" | sudo tee /etc/apt/sources.list.d/microsoft-edge.list
          sudo apt-get update
          sudo apt-get install -y microsoft-edge-stable

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run tests
        # Jalankan test, WebDriverManager akan download driver otomatis di sini
        run: xvfb-run ./gradlew clean test -Pbrowser=${{ matrix.browser }}
        env:
          browser: ${{ matrix.browser }}

      - name: Upload Extent Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: extent-report-${{ matrix.browser }}
          path: reports/